body{
	background: #4C4B63;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;3
    color: #002500;
}
header{
    background: #3b7086;
	-webkit-border-radius: 25px 25px 0 0;
	border-radius: 25px 25px 0 0;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
footer{
    width:100vw;
    margin:0 auto;
    text-align: center;
    background-color: #95AFBA; 
    padding:1%;
    position: fixed;
    bottom: 0;
    margin-top: 5vh;
    border: 1px solid #ddd675;
}
nav a{
    border: 1px solid #B48291;
    color: #F0E100;
    padding:.8%;
    margin: 1%;
    text-decoration: none;
    font-variant: small-caps ;
}

h1, h4 {
    font-variant: small-caps;
}
h1{
    text-shadow: 2px 2px #ddd675;
}

#about{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #95AFBA;
    background-color: #B48291;
}
#dialogue{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #F0E100;
    background-color: #95AFBA;
    color: #002500;
    text-align: left;
    text-align: justify;
    padding: 1%;
    line-height: 25px;
}
#one{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #FFC43D;
    background-color: #663D49;
}
#granola{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #7A5600;
    background-color: #DAE3E7;
    color: #002500;
    text-align: left;
    text-align: justify;
    padding: 1%;
    line-height: 25px;
    height: auto;
}
#two{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #f1ac09;
    background-color: #A36678;
}
#october{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #df8816;
    background-color: #8babdb;
    color: #002500;
    text-align: left;
    text-align: justify;
    padding: 1%;
    line-height: 25px;
    height: auto;
}
#three{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #B48291;
    background-color: #f1ac09;
}
#subduedOchre{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #8babdb;
    background-color: #df8816;
    color: #002500;
    text-align: left;
    text-align: justify;
    padding: 1%;
    line-height: 25px;
    height: auto;
}


img{
    width: 60%;
    border: 1px solid #FFC43D;
}
.small{
    display: block;
}
.sticky{
    display: none;
}
#spacer{
    height: 10vh;
}
@media screen and (min-width: 576px){
    img.sticky{
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        left: 60%;
        width: 35%;
        float: right;
        clear:left;
    }
    img.small{
        display: none;
    }
    #text{
        width: 56%;
    }
}


@media screen and (min-width: 1200px){
    header, #about, #one, #two, #three{
        width: 80%;
    }
}

